<apex:page standardController="Offer__c" extensions="CallBatchCreateOfferDetailsExt" showHeader="true" sidebar="true">
  <apex:form >
    <apex:pageBlock id="pg">
        <apex:pageBlockSection rendered="{!batchStatusBool}">
            <apex:actionStatus id="act" startText="Checking..." />
            Batch Job Status is {!batchStatus}
            <apex:actionPoller interval="5" action="{!checkBatchStatus}" enabled="{!pollerBool}" reRender="pg" status="act"/>
            
        </apex:pageBlockSection>

            Batch Job Ready for Submision. Please click on the button below.
            <br>
            Batch ID {!Offer__c.Offer_Dtl_Batch_Id__c}
            </br>

        <apex:pageBlockButtons location="bottom">
            <apex:commandButton value="Call Batch Create Offer Details" action="{!callCreateOfferDtlBatch}"/>
        </apex:pageBlockButtons>
    </apex:pageBlock>
</apex:form>
            
            
    </apex:page>