<apex:page controller="GuestServicesWebServicesController">
    <apex:form >
        <apex:pageMessages />
        <apex:pageBlock title="Get On Demand Availability">
            <apex:pageBlockButtons location="top">
                <apex:commandButton value="Submit Get On Demand Availability" action="{!getOnDemandAvailability}"/>
            </apex:pageBlockButtons>
            <apex:pageBlockSection columns="2" title="Inputs">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel >Guest Account ID</apex:outputLabel>
                    <apex:inputText value="{!guestAcctId}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel >Gigya ID</apex:outputLabel>
                    <apex:inputText value="{!gigyaId}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel >COD Id</apex:outputLabel>
                    <apex:inputText value="{!codId}"/>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            <apex:pageBlockSection columns="1" title="Output">
                <apex:dataTable border="1" cellpadding="1" value="{!onDAvailabilityResponseList}" var="var" rendered="{!onDAvailabilityResponseList.size>0}">
                    <apex:column >
                        <apex:facet name="header">Success</apex:facet>
                        <apex:outputText value="{!var.success}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Record ID (COD Id)</apex:facet>
                        <apex:outputText value="{!var.recordId}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Partner ID</apex:facet>
                        <apex:outputText value="{!var.partnerId}"/>
                    </apex:column>
                    
                    <apex:column >
                        <apex:facet name="header">Redemption Type</apex:facet>
                        <apex:outputText value="{!var.redemptionType}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Redemptions Remaining</apex:facet>
                        <apex:outputText value="{!var.redemptionsRemaining}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Offer Description</apex:facet>
                        <apex:outputText value="{!var.offerDescription}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Redemption Expiration</apex:facet>
                        <apex:outputText value="{0, date, dd/MM/yyyy}">
                            <apex:param value="{!var.redemptionExpiration}"/>
                        </apex:outputText>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Error Code</apex:facet>
                        <apex:outputText value="{!var.errCode}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Error Description</apex:facet>
                        <apex:outputText value="{!var.errorDesc}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Case Number</apex:facet>
                        <apex:outputText value="{!var.caseNumber}"/>
                    </apex:column>
                </apex:dataTable>
            </apex:pageBlockSection>
        </apex:pageBlock>
        <apex:pageBlock title="Write On Demand Transactions">
            <apex:pageBlockButtons location="top">
                <apex:commandButton value="Submit Write On Demand Transactions" action="{!writeOnDemandTransactions}"/>
            </apex:pageBlockButtons>
            <apex:pageBlockSection columns="2" title="Inputs">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel >Guest Account ID</apex:outputLabel>
                    <apex:inputText value="{!sfWriteAcctId}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel >Gigya ID</apex:outputLabel>
                    <apex:inputText value="{!writeGigyaId}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel >COD ID</apex:outputLabel>
                    <apex:inputText value="{!writecodId}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel >Redemption Type</apex:outputLabel>
                    <apex:inputField value="{!voucher.Voucher_Type__c}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel >Redemption Location</apex:outputLabel>
                    <apex:inputText value="{!redemptionLocation}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel >Redemption Credits</apex:outputLabel>
                    <apex:inputText value="{!redemptionCredits}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel >Redemption Start Date/Time</apex:outputLabel>
                    <apex:inputField value="{!redemption.Redemption_Start_Date_Time__c}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel >Redemption Start Date/Time Offset</apex:outputLabel>
                    <apex:inputField value="{!redemption.Start_Date_Time_Offset__c}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel >Redemption Start Date/Time Text</apex:outputLabel>
                    <apex:inputField value="{!redemption.Start_Date_Time_Text__c}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel >Redemption End Date/Time</apex:outputLabel>
                    <apex:inputField value="{!redemption.Redemption_End_Date_Time__c}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel >Redemption End Date/Time Offset</apex:outputLabel>
                    <apex:inputField value="{!redemption.End_Date_Time_Offset__c}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel >Redemption End Date/Time Text</apex:outputLabel>
                    <apex:inputField value="{!redemption.End_Date_Time_Text__c}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel >Redemption Model</apex:outputLabel>
                    <apex:inputText value="{!redemptionModel}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel >Booking Reference</apex:outputLabel>
                    <apex:inputText value="{!bookingReference}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel >Redemption Description</apex:outputLabel>
                    <apex:inputText value="{!redemptionDescription}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel >Booking Status</apex:outputLabel>
                    <apex:inputText value="{!bookingStatus}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel >Redemption Rego</apex:outputLabel>
                    <apex:inputText value="{!redemptionRego}"/>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            <apex:pageBlockSection columns="2" title="Output">
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >RESPONSE</apex:outputLabel>
                    <apex:outputText >{!writeOnDemandTrans}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Success</apex:outputLabel>
                    <apex:outputText >{!writeOnDemandTrans.success}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Record ID</apex:outputLabel>
                    <apex:outputText >{!writeOnDemandTrans.recordId}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Error Code</apex:outputLabel>
                    <apex:outputText >{!writeOnDemandTrans.errCode}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Error Description</apex:outputLabel>
                    <apex:outputText >{!writeOnDemandTrans.errorDesc}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Case Number</apex:outputLabel>
                    <apex:outputText >{!writeOnDemandTrans.caseNumber}</apex:outputText>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
        </apex:pageBlock>
        <apex:pageBlock title="Edit On Demand Transactions">
            <apex:pageBlockButtons location="top">
                <apex:commandButton value="Submit Edit On Demand Transactions" action="{!editOnDemandTransactions}"/>
            </apex:pageBlockButtons>
            <apex:pageBlockSection columns="2" title="Inputs">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel >Booking Reference No.</apex:outputLabel>
                    <apex:inputText value="{!editBookReference}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel >Redemption Location</apex:outputLabel>
                    <apex:inputText value="{!editLocation}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel >Redemption Start Date/Time</apex:outputLabel>
                    <apex:inputField value="{!editRedemption.Redemption_Start_Date_Time__c}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel >Redemption Start Date/Time Offset</apex:outputLabel>
                    <apex:inputField value="{!editRedemption.Start_Date_Time_Offset__c}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel >Redemption Start Date/Time Text</apex:outputLabel>
                    <apex:inputField value="{!editRedemption.Start_Date_Time_Text__c}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel >Redemption End Date/Time</apex:outputLabel>
                    <apex:inputField value="{!editRedemption.Redemption_End_Date_Time__c}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel >Redemption End Date/Time Offset</apex:outputLabel>
                    <apex:inputField value="{!editRedemption.End_Date_Time_Offset__c}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel >Redemption End Date/Time Text</apex:outputLabel>
                    <apex:inputField value="{!editRedemption.End_Date_Time_Text__c}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel >Redemption Model</apex:outputLabel>
                    <apex:inputText value="{!editModel}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel >Redemption Description</apex:outputLabel>
                    <apex:inputText value="{!editDescription}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel >Redemption Rego</apex:outputLabel>
                    <apex:inputText value="{!editRego}"/>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            <apex:pageBlockSection columns="2" title="Output">
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >RESPONSE</apex:outputLabel>
                    <apex:outputText >{!editOnDemandTrans}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Success</apex:outputLabel>
                    <apex:outputText >{!editOnDemandTrans.success}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Record ID</apex:outputLabel>
                    <apex:outputText >{!editOnDemandTrans.recordId}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Error Code</apex:outputLabel>
                    <apex:outputText >{!editOnDemandTrans.errCode}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Error Description</apex:outputLabel>
                    <apex:outputText >{!editOnDemandTrans.errorDesc}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Case Number</apex:outputLabel>
                    <apex:outputText >{!editOnDemandTrans.caseNumber}</apex:outputText>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
        </apex:pageBlock>
        <apex:pageBlock title="Cancel On Demand Transactions">
            <apex:pageBlockButtons location="top">
                <apex:commandButton value="Submit Cancel On Demand Transactions" action="{!cancelOnDemandTransaction}"/>
            </apex:pageBlockButtons>
            <apex:pageBlockSection columns="2" title="Inputs">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel >Guest Account ID</apex:outputLabel>
                    <apex:inputText value="{!cancelSfAcctId}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel >Gigya ID</apex:outputLabel>
                    <apex:inputText value="{!cancelGigyaId}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel >Booking Reference</apex:outputLabel>
                    <apex:inputText value="{!cancelBookingReference}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel >Credit Customer</apex:outputLabel>
                    <apex:inputCheckbox value="{!creditCustomer}"/>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            <apex:pageBlockSection columns="2" title="Output">
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >RESPONSE</apex:outputLabel>
                    <apex:outputText >{!cancelOnDemandTrans}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Success</apex:outputLabel>
                    <apex:outputText >{!cancelOnDemandTrans.success}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Record ID</apex:outputLabel>
                    <apex:outputText >{!cancelOnDemandTrans.recordId}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Error Code</apex:outputLabel>
                    <apex:outputText >{!cancelOnDemandTrans.errCode}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Error Description</apex:outputLabel>
                    <apex:outputText >{!cancelOnDemandTrans.errorDesc}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Case Number</apex:outputLabel>
                    <apex:outputText >{!writeOnDemandTrans.caseNumber}</apex:outputText>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
        </apex:pageBlock>
        <apex:pageBlock title="Get Guest Voucher Availability">
            <apex:pageBlockButtons location="top">
                <apex:commandButton value="Submit Get Voucher Availability" action="{!getGuestVoucherAvailability}"/>
            </apex:pageBlockButtons>
            <apex:pageBlockSection columns="2" title="Inputs">
            	<apex:pageBlockSectionItem >
                	<apex:outputLabel >Gigya ID</apex:outputLabel>
                    <apex:inputText value="{!voodGigyaId}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >SF VO ID</apex:outputLabel>
                    <apex:inputText value="{!voodSFVOId}"/>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            <apex:pageBlockSection columns="1" title="Output">
                <apex:dataTable border="1" cellpadding="1" value="{!voodResultList}" var="var" rendered="{!voodResultList.size>0}">
                    <apex:column >
                        <apex:facet name="header">Record Id (VOOD Id)</apex:facet>
                        <apex:outputText value="{!var.recordId}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Partner Account ID</apex:facet>
                        <apex:outputText value="{!var.partnerId}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Vouchers Type</apex:facet>
                        <apex:outputText value="{!var.voucherType}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Vouchers Available</apex:facet>
                        <apex:outputText value="{!var.vouchersAvailable}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Vouchers Expiration</apex:facet>
                        <apex:outputText value="{0, date, dd/MM/yyyy}">
                            <apex:param value="{!var.vouchersExpiration}"/>
                        </apex:outputText>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Rego</apex:facet>
                        <apex:outputText value="{!var.rego}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Model</apex:facet>
                        <apex:outputText value="{!var.model}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Success</apex:facet>
                        <apex:outputText value="{!var.success}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Error Code</apex:facet>
                        <apex:outputText value="{!var.errCode}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Error Description</apex:facet>
                        <apex:outputText value="{!var.errorDesc}"/>
                    </apex:column>
                </apex:dataTable>
            </apex:pageBlockSection>
        </apex:pageBlock>
        <apex:pageBlock title="Get Partners and Branches">
            <apex:pageBlockButtons location="top">
                <apex:commandButton value="Submit Get Partners and Branches" action="{!getPartnersandBranches}"/>
            </apex:pageBlockButtons>
            <apex:pageBlockSection columns="2" title="Inputs">
            	NO INPUTS
            </apex:pageBlockSection>
            <apex:pageBlockSection columns="1" title="Output">
                <apex:dataTable border="1" cellpadding="1" value="{!partnerBranchList}" var="var" rendered="{!partnerBranchList.size>0}">
                    <apex:column >
                        <apex:facet name="header">Partner Id</apex:facet>
                        <apex:outputText value="{!var.partnerId}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Partner Name</apex:facet>
                        <apex:outputText value="{!var.partnerName}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Partner Category</apex:facet>
                        <apex:outputText value="{!var.partnerCategory}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Offer Type</apex:facet>
                        <apex:outputText value="{!var.offerType}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Offer Id</apex:facet>
                        <apex:outputText value="{!var.offerId}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Partner Status</apex:facet>
                        <apex:outputText value="{!var.partnerStatus}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Vehicle Offer Limit</apex:facet>
                        <apex:outputText value="{!var.vehicleOfferLimit}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Branch ID</apex:facet>
                        <apex:outputText value="{!var.branchId}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Branch Name</apex:facet>
                        <apex:outputText value="{!var.branchName}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Branch Street</apex:facet>
                        <apex:outputText value="{!var.branchStreet}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Branch City</apex:facet>
                        <apex:outputText value="{!var.branchCity}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Branch State</apex:facet>
                        <apex:outputText value="{!var.branchState}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Branch Postal Code</apex:facet>
                        <apex:outputText value="{!var.branchPostalCode}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Branch Location</apex:facet>
                        <apex:outputText value="{!var.branchLocation}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Branch Valet Entry Point</apex:facet>
                        <apex:outputText value="{!var.branchValetEntryPoint}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Branch Latitude</apex:facet>
                        <apex:outputText value="{!var.branchLatitude}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Branch Longitude</apex:facet>
                        <apex:outputText value="{!var.branchLongitude}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Branch Valet Description</apex:facet>
                        <apex:outputText value="{!var.branchValetDescription}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Branch Status</apex:facet>
                        <apex:outputText value="{!var.branchStatus}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Record Id</apex:facet>
                        <apex:outputText value="{!var.recordId}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Error Code</apex:facet>
                        <apex:outputText value="{!var.errCode}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Error Description</apex:facet>
                        <apex:outputText value="{!var.errorDesc}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Case Number</apex:facet>
                        <apex:outputText value="{!var.caseNumber}"/>
                    </apex:column>
                </apex:dataTable>
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>