<apex:page controller="MyLexusWebServicesController">
    <apex:form >
        <apex:pageMessages />
        <apex:pageBlock title="Guest Registration">
            <apex:pageBlockButtons location="top">
                <apex:commandButton value="Submit Guest Registration" action="{!guestRegistration}"/>
            </apex:pageBlockButtons>
        	<apex:pageBlockSection columns="2" title="Inputs">
            	<apex:pageBlockSectionItem >
                	<apex:outputLabel >First Name</apex:outputLabel>
                    <apex:inputText value="{!firstName}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Last Name</apex:outputLabel>
                    <apex:inputText value="{!lastName}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Email</apex:outputLabel>
                    <apex:inputText value="{!email}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Mobile</apex:outputLabel>
                    <apex:inputText value="{!mobile}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Gigya ID</apex:outputLabel>
                    <apex:inputText value="{!gigyaId}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >SF Account ID</apex:outputLabel>
                    <apex:inputText value="{!sfAcctId}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >SF VO ID</apex:outputLabel>
                    <apex:inputText value="{!sfVOId}"/>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            <apex:pageBlockSection columns="2" title="Output">
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >RESPONSE</apex:outputLabel>
                    <apex:outputText >{!guestRegResponse}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Success</apex:outputLabel>
                    <apex:outputText >{!guestRegResponse.success}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Record ID</apex:outputLabel>
                    <apex:outputText >{!guestRegResponse.recordId}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Case Number</apex:outputLabel>
                    <apex:outputText >{!guestRegResponse.caseNumber}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Error Code</apex:outputLabel>
                    <apex:outputText >{!guestRegResponse.errCode}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Error Description</apex:outputLabel>
                    <apex:outputText >{!guestRegResponse.errorDesc}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Returned First Name</apex:outputLabel>
                    <apex:outputText >{!guestRegResponse.firstName}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Returned Last Name</apex:outputLabel>
                    <apex:outputText >{!guestRegResponse.lastName}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Returned Email</apex:outputLabel>
                    <apex:outputText >{!guestRegResponse.email}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Returned Mobile</apex:outputLabel>
                    <apex:outputText >{!guestRegResponse.mobile}</apex:outputText>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
        </apex:pageBlock>
        <apex:pageBlock title="Update Stripe Customer Id">
            <apex:pageBlockButtons location="top">
                <apex:commandButton value="Submit Stripe Customer ID" action="{!updateStripeCustomerId}"/>
            </apex:pageBlockButtons>
        	<apex:pageBlockSection columns="2" title="Inputs">
            	<apex:pageBlockSectionItem >
                	<apex:outputLabel >SF Account ID</apex:outputLabel>
                    <apex:inputText value="{!stripeAcctId}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Stripe Customer ID</apex:outputLabel>
                    <apex:inputText value="{!stripeCustomerId}"/>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            <apex:pageBlockSection columns="2" title="Output">
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >RESPONSE</apex:outputLabel>
                    <apex:outputText >{!stripeCustomerIdResponse}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Success</apex:outputLabel>
                    <apex:outputText >{!stripeCustomerIdResponse.success}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Record ID</apex:outputLabel>
                    <apex:outputText >{!stripeCustomerIdResponse.recordId}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Case Number</apex:outputLabel>
                    <apex:outputText >{!stripeCustomerIdResponse.caseNumber}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Error Code</apex:outputLabel>
                    <apex:outputText >{!stripeCustomerIdResponse.errCode}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Error Description</apex:outputLabel>
                    <apex:outputText >{!stripeCustomerIdResponse.errorDesc}</apex:outputText>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
        </apex:pageBlock>
        <apex:pageBlock title="Update Terms and Conditions and Privacy Policy Versions">
            <apex:pageBlockButtons location="top">
                <apex:commandButton value="Submit Terms and Privacy Policy Version" action="{!updateTermsPolicyVersion}"/>
            </apex:pageBlockButtons>
        	<apex:pageBlockSection columns="2" title="Inputs">
            	<apex:pageBlockSectionItem >
                	<apex:outputLabel >SF Account ID</apex:outputLabel>
                    <apex:inputText value="{!versionAcctId}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Terms and Conditions Version</apex:outputLabel>
                    <apex:inputText value="{!termsAndConditionsVersion}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Privacy Policy Version</apex:outputLabel>
                    <apex:inputText value="{!privacyPolicyVersion}"/>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            <apex:pageBlockSection columns="2" title="Output">
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >RESPONSE</apex:outputLabel>
                    <apex:outputText >{!updateVersionResponse}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Success</apex:outputLabel>
                    <apex:outputText >{!updateVersionResponse.success}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Record ID</apex:outputLabel>
                    <apex:outputText >{!updateVersionResponse.recordId}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Case Number</apex:outputLabel>
                    <apex:outputText >{!updateVersionResponse.caseNumber}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Error Code</apex:outputLabel>
                    <apex:outputText >{!updateVersionResponse.errCode}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Error Description</apex:outputLabel>
                    <apex:outputText >{!updateVersionResponse.errorDesc}</apex:outputText>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
        </apex:pageBlock>
        <apex:pageBlock title="Vehicle Association">
            <apex:pageBlockButtons location="top">
                <apex:commandButton value="Submit Vehicle Association" action="{!vehicleAssociation}"/>
            </apex:pageBlockButtons>
        	<apex:pageBlockSection columns="2" title="Inputs">
            	<apex:pageBlockSectionItem >
                	<apex:outputLabel >SF Account ID</apex:outputLabel>
                    <apex:inputText value="{!vehicleAssocAcctId}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >VIN</apex:outputLabel>
                    <apex:inputText value="{!vinVehicleAssoc}"/>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            <apex:pageBlockSection columns="2" title="Output">
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >RESPONSE</apex:outputLabel>
                    <apex:outputText >{!vehicleAssocResponse}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Success</apex:outputLabel>
                    <apex:outputText >{!vehicleAssocResponse.success}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Record ID</apex:outputLabel>
                    <apex:outputText >{!vehicleAssocResponse.recordId}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Case Number</apex:outputLabel>
                    <apex:outputText >{!vehicleAssocResponse.caseNumber}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Error Code</apex:outputLabel>
                    <apex:outputText >{!vehicleAssocResponse.errCode}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Error Description</apex:outputLabel>
                    <apex:outputText >{!vehicleAssocResponse.errorDesc}</apex:outputText>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
        </apex:pageBlock>
        <apex:pageBlock title="Vehicle Verification">
            <apex:pageBlockButtons location="top">
                <apex:commandButton value="Submit Vehicle Verfication" action="{!vehicleVerification}"/>
            </apex:pageBlockButtons>
        	<apex:pageBlockSection columns="2" title="Inputs">
            	<apex:pageBlockSectionItem >
                	<apex:outputLabel >SF Account ID</apex:outputLabel>
                    <apex:inputText value="{!vehicleVeriAcctId}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >VIN</apex:outputLabel>
                    <apex:inputText value="{!vinVehicleVerif}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >BATCH NUMBER</apex:outputLabel>
                    <apex:inputText value="{!batchNumber}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >SF VO ID</apex:outputLabel>
                    <apex:inputText value="{!vehicleVeriVOId}"/>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            <apex:pageBlockSection columns="2" title="Output">
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >RESPONSE</apex:outputLabel>
                    <apex:outputText >{!vehicleVeriResponse}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Success</apex:outputLabel>
                    <apex:outputText >{!vehicleVeriResponse.success}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Record ID</apex:outputLabel>
                    <apex:outputText >{!vehicleVeriResponse.recordId}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Case Number</apex:outputLabel>
                    <apex:outputText >{!vehicleVeriResponse.caseNumber}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Error Code</apex:outputLabel>
                    <apex:outputText >{!vehicleVeriResponse.errCode}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Error Description</apex:outputLabel>
                    <apex:outputText >{!vehicleVeriResponse.errorDesc}</apex:outputText>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
        </apex:pageBlock>
        <apex:pageBlock title="Update / Create Case">
            <apex:pageBlockButtons location="top">
                <apex:commandButton value="Submit Case Create/Update" action="{!createUpdateCase}"/>
            </apex:pageBlockButtons>
        	<apex:pageBlockSection columns="2" title="Inputs">
            	<apex:pageBlockSectionItem >
                	<apex:outputLabel >Case number</apex:outputLabel>
                    <apex:inputText value="{!caseNumber}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Call Back Phone</apex:outputLabel>
                    <apex:inputText value="{!callBackPhone}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Time Slot</apex:outputLabel>
                    <apex:inputText value="{!timeSlot}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Account ID (Optional)</apex:outputLabel>
                    <apex:inputText value="{!caseSfAcctId}"/>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            <apex:pageBlockSection columns="2" title="Output">
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >RESPONSE</apex:outputLabel>
                    <apex:outputText >{!caseUpdateCreateResponse}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Success</apex:outputLabel>
                    <apex:outputText >{!caseUpdateCreateResponse.success}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Record ID</apex:outputLabel>
                    <apex:outputText >{!caseUpdateCreateResponse.recordId}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Case Number</apex:outputLabel>
                    <apex:outputText >{!caseUpdateCreateResponse.caseNumber}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Error Code</apex:outputLabel>
                    <apex:outputText >{!caseUpdateCreateResponse.errCode}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Error Description</apex:outputLabel>
                    <apex:outputText >{!caseUpdateCreateResponse.errorDesc}</apex:outputText>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
        </apex:pageBlock>
        <apex:pageBlock title="Delete Registration">
            <apex:pageBlockButtons location="top">
                <apex:commandButton value="Submit Delete Registration" action="{!deleteRegistration}"/>
            </apex:pageBlockButtons>
        	<apex:pageBlockSection columns="2" title="Inputs">
            	<apex:pageBlockSectionItem >
                	<apex:outputLabel >Gigya ID</apex:outputLabel>
                    <apex:inputText value="{!deleteGigyaId}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Email</apex:outputLabel>
                    <apex:inputText value="{!deleteEmail}"/>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            <apex:pageBlockSection columns="2" title="Output">
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >RESPONSE</apex:outputLabel>
                    <apex:outputText >{!delRegistrationResponse}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Success</apex:outputLabel>
                    <apex:outputText >{!delRegistrationResponse.success}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Record ID</apex:outputLabel>
                    <apex:outputText >{!delRegistrationResponse.recordId}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Case Number</apex:outputLabel>
                    <apex:outputText >{!delRegistrationResponse.caseNumber}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Error Code</apex:outputLabel>
                    <apex:outputText >{!delRegistrationResponse.errCode}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Error Description</apex:outputLabel>
                    <apex:outputText >{!delRegistrationResponse.errorDesc}</apex:outputText>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
        </apex:pageBlock>
        <apex:pageBlock title="Get Customer Details">
            <apex:pageBlockButtons location="top">
                <apex:commandButton value="Submit Get Customer Details" action="{!getCustomerDetails}"/>
            </apex:pageBlockButtons>
        	<apex:pageBlockSection columns="2" title="Inputs">
            	<apex:pageBlockSectionItem >
                	<apex:outputLabel >Gigya ID</apex:outputLabel>
                    <apex:inputText value="{!customerDetailGigyaId}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >SF Acct ID</apex:outputLabel>
                    <apex:inputText value="{!customerAcctId}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >SF VO ID</apex:outputLabel>
                    <apex:inputText value="{!customerVoId}"/>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            <apex:pageBlockSection columns="2" title="Output">
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >RESPONSE</apex:outputLabel>
                    <apex:outputText >{!guestProfileResponse}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Success</apex:outputLabel>
                    <apex:outputText >{!guestProfileResponse.success}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Record ID</apex:outputLabel>
                    <apex:outputText >{!guestProfileResponse.recordId}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Case Number</apex:outputLabel>
                    <apex:outputText >{!guestProfileResponse.caseNumber}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Error Code</apex:outputLabel>
                    <apex:outputText >{!guestProfileResponse.errCode}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Error Description</apex:outputLabel>
                    <apex:outputText >{!guestProfileResponse.errorDesc}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Customer Data</apex:outputLabel>
                    <apex:outputText >{!guestProfileResponse.outputAcct}</apex:outputText>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
        </apex:pageBlock>
        <apex:pageBlock title="Write Customer Details">
            <apex:pageBlockButtons location="top">
                <apex:commandButton value="Submit Write Customer Details" action="{!writeCustomerDetails}"/>
            </apex:pageBlockButtons>
        	<apex:pageBlockSection columns="2" title="Inputs">
            	<apex:pageBlockSectionItem >
                	<apex:outputLabel >Gigya ID</apex:outputLabel>
                    <apex:inputText value="{!inputAcct.gigyaId}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	&nbsp;
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >First Name</apex:outputLabel>
                    <apex:inputText value="{!inputAcct.firstName}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Last Name</apex:outputLabel>
                    <apex:inputText value="{!inputAcct.lastName}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Email</apex:outputLabel>
                    <apex:inputText value="{!inputAcct.email}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Mobile Phone</apex:outputLabel>
                    <apex:inputText value="{!inputAcct.mobilePhone}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Home Street</apex:outputLabel>
                    <apex:inputText value="{!inputAcct.homeStreet}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Home Suburb</apex:outputLabel>
                    <apex:inputText value="{!inputAcct.homesuburb}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Home State</apex:outputLabel>
                    <apex:inputText value="{!inputAcct.homeState}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Home Post Code</apex:outputLabel>
                    <apex:inputText value="{!inputAcct.homePostCode}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Postal Street</apex:outputLabel>
                    <apex:inputText value="{!inputAcct.postalStreet}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Postal Suburb</apex:outputLabel>
                    <apex:inputText value="{!inputAcct.postalsuburb}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Postal State</apex:outputLabel>
                    <apex:inputText value="{!inputAcct.postalState}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Postal Post Code</apex:outputLabel>
                    <apex:inputText value="{!inputAcct.postalPostCode}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Postal Same as Home</apex:outputLabel>
                    <apex:inputCheckbox value="{!inputAcct.postalSameAsHome}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Interest</apex:outputLabel>
                    <apex:inputText value="{!inputAcct.interests}"/>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            <apex:pageBlockSection columns="2" title="Output">
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >RESPONSE</apex:outputLabel>
                    <apex:outputText >{!writeCustDetailsResponse}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Success</apex:outputLabel>
                    <apex:outputText >{!writeCustDetailsResponse.success}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Record ID</apex:outputLabel>
                    <apex:outputText >{!writeCustDetailsResponse.recordId}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Case Number</apex:outputLabel>
                    <apex:outputText >{!writeCustDetailsResponse.caseNumber}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Error Code</apex:outputLabel>
                    <apex:outputText >{!writeCustDetailsResponse.errCode}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Error Description</apex:outputLabel>
                    <apex:outputText >{!writeCustDetailsResponse.errorDesc}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Customer Data</apex:outputLabel>
                    <apex:outputText >{!writeCustDetailsResponse.outputAcct}</apex:outputText>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
        </apex:pageBlock>
        <apex:pageBlock title="Write Communication Preferences">
            <apex:pageBlockButtons location="top">
                <apex:commandButton value="Submit Write Communication Preferences" action="{!writeCommunicationPreferences}"/>
            </apex:pageBlockButtons>
        	<apex:pageBlockSection columns="2" title="Inputs">
            	<apex:pageBlockSectionItem >
                	<apex:outputLabel >Gigya ID</apex:outputLabel>
                    <apex:inputText value="{!inputAcctCommPref.gigyaId}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	&nbsp;
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Do Not Call</apex:outputLabel>
                    <apex:inputCheckbox value="{!inputAcctCommPref.doNotCall}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Do Not Contact</apex:outputLabel>
                    <apex:inputCheckbox value="{!inputAcctCommPref.doNotContact}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Product Info Opt Out</apex:outputLabel>
                    <apex:inputCheckbox value="{!inputAcctCommPref.productInfoOptOut}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Benefit Events Opt Out</apex:outputLabel>
                    <apex:inputCheckbox value="{!inputAcctCommPref.benefitEventsOptOut}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Preferred Dealer</apex:outputLabel>
                    <apex:inputText value="{!inputAcctCommPref.preferredDealer}"/>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            <apex:pageBlockSection columns="2" title="Output">
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >RESPONSE</apex:outputLabel>
                    <apex:outputText >{!writeCommPrefResponse}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Success</apex:outputLabel>
                    <apex:outputText >{!writeCommPrefResponse.success}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Record ID</apex:outputLabel>
                    <apex:outputText >{!writeCommPrefResponse.recordId}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Case Number</apex:outputLabel>
                    <apex:outputText >{!writeCommPrefResponse.caseNumber}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Error Code</apex:outputLabel>
                    <apex:outputText >{!writeCommPrefResponse.errCode}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Error Description</apex:outputLabel>
                    <apex:outputText >{!writeCommPrefResponse.errorDesc}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Customer Data</apex:outputLabel>
                    <apex:outputText >{!writeCommPrefResponse.outputAcct}</apex:outputText>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
        </apex:pageBlock>
        <apex:pageBlock title="Get Guest Vehicles">
            <apex:pageBlockButtons location="top">
                <apex:commandButton value="Submit Get Guest Vehicles" action="{!getGuestVehicles}"/>
            </apex:pageBlockButtons>
        	<apex:pageBlockSection columns="2" title="Inputs">
            	<apex:pageBlockSectionItem >
                	<apex:outputLabel >Gigya ID</apex:outputLabel>
                    <apex:inputText value="{!guestVehicleGigyaId}"/>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            <apex:pageBlockSection columns="2" title="Output">
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >RESPONSE</apex:outputLabel>
                    <apex:outputText >{!guestVehicleResponse}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Success</apex:outputLabel>
                    <apex:outputText >{!guestVehicleResponse.success}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Record ID (Id of first GR record with the latest expiration</apex:outputLabel>
                    <apex:outputText >{!guestVehicleResponse.recordId}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Guest Encore Expiration</apex:outputLabel>
                    <apex:outputText value="{0, date, dd/MM/yyyy}">
                        <apex:param value="{!guestVehicleResponse.guestEncoreExpiration}"/>
                    </apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Guest Encore Status</apex:outputLabel>
                    <apex:outputText >{!guestVehicleResponse.guestEncoreStatus}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Case Number</apex:outputLabel>
                    <apex:outputText >{!guestVehicleResponse.caseNumber}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Case Number</apex:outputLabel>
                    <apex:outputText >{!guestVehicleResponse.caseNumber}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Error Code</apex:outputLabel>
                    <apex:outputText >{!guestVehicleResponse.errCode}</apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel >Error Description</apex:outputLabel>
                    <apex:outputText >{!guestVehicleResponse.errorDesc}</apex:outputText>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            <apex:pageBlockSection columns="1" title="Guest Vehicles">
                <apex:dataTable border="1" cellpadding="1" value="{!guestVehicleResponse.grVehiclesList}" var="vehicle">
                    <apex:column >
                        <apex:facet name="header">GR Status</apex:facet>
                        <apex:outputText value="{!vehicle.grStatus}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">GR Active Flag</apex:facet>
                        <apex:outputText value="{!vehicle.grActive}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">GR Rego</apex:facet>
                        <apex:outputText value="{!vehicle.grRego}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">GR VIN</apex:facet>
                        <apex:outputText value="{!vehicle.grVIN}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">GR Model</apex:facet>
                        <apex:outputText value="{!vehicle.grModel}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Factory Warranty Expiry Date</apex:facet>
                        <apex:outputText value="{0, date, dd/MM/yyyy}">
                            <apex:param value="{!vehicle.grfactWrntExpDate}"/>
                        </apex:outputText>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">GR VO</apex:facet>
                        <apex:outputText value="{!vehicle.grVO}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Related Case</apex:facet>
                        <apex:outputText value="{!vehicle.grCaseNumber}"/>
                    </apex:column>
                </apex:dataTable>
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>