<apex:page standardcontroller="Account" showHeader="false" sidebar="false" standardStyleSheets="true" title="Servicing">

<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>New Page 1</title>
</head>

<body>

<table border="0" cellspacing="2" width="100%">
	<tr>
		<td >Menu</td>
	</tr>
	<tr>
		<td >Home</td>
		<td >Vehicles</td>
		<td >Pre-Owned</td>
		<td >Compare</td>
		<td >Configure</td>
		<td >Owner Portal Login</td>
		<td >Find a Dealer</td>
	</tr>
</table>

<p><font size="2"><a href="#">Home</a> &gt; <a href="#">Owner Portal</a> &gt; My IS 250</font></p>
    <apex:tabPanel switchType="client" selectedTab="name1" id="theTabPanel">
        <apex:tab label="IS 250" name="name1" id="tabOne">


<table border="0" cellspacing="2" width="100%">
	<tr>		
		<td width="15%">
		<table border="0" cellspacing="20" >
			<tr>
				<td><font size="4">Owner Portal Home</font></td>
			</tr>
			<tr>
				<td><font size="4">Servicing</font></td>
			</tr>
			<tr>
				<td><font size="4">My Owner Benefits</font></td>
			</tr>
			<tr>
				<td><font size="4">Tools & Services</font></td>
			</tr>

		</table>
		
		</td>
		<td width="85%" align="center">
		<table border="0" cellspacing="2" width="98%">
			<tr>
				<td>
				<p align="right"><a href="#"><font size="2.5">Update My Details & Preferences</font></a></td>
			</tr>
			<tr>
				<td><b><font size="5">Servicing</font></b></td>
			</tr>
			<tr>
				<td><font size="2">A little about servicing. Under your Lexus four-year/100,000km (whichever occurs first) warranty, you enjoy benefits you will only receive from a Lexus Dealer Service Centre.</font></td>
			</tr>
			<tr><td>
				<table width="100%" cellpadding="20" border="1">
					<tr>
						<td width="50%"><b>Request Your Next Service</b></p>
						<font size="2">Your Next Service is due in October or at 25,000km. This service includes:</font><ul>
							<li><font size="2">Air-Con reconditioning<br></font></li>
							<li><font size="2">Filter Change<br></font></li>
							<li><font size="2">...</font></li>
						</ul>
						</td>
						<td width="50%"><b>My Dealer</b><p><a href="#">{!Account.Last_Selling_Dealer__r.Name} >> </a>
						</p>
						<p><font size="2">{!Account.Last_Selling_Dealer__r.BillingStreet}, {!Account.Last_Selling_Dealer__r.BillingCity} {!Account.Last_Selling_Dealer__r.BillingState} {!Account.Last_Selling_Dealer__r.BillingPostalCode}
						<br>
						{!Account.Last_Selling_Dealer__r.Phone} 
						<a href="{!Account.Last_Selling_Dealer__r.Website}">{!Account.Last_Selling_Dealer__r.Website}</a>
						<br>
						<a href="#">Change my dealer >></a>
						
						</font></p>
						<p>Your Contact
						<br>
						<font size="2">{!Account.Last_Selling_Dealer__r.Lexus_Account_Manager__r.Name}
						<br>
						{!Account.Last_Selling_Dealer__r.Lexus_Account_Manager__r.MobilePhone}</font>
						</td>
					</tr>
				</table>
			</td></tr>
			<tr><td>
				<b>Service History</b></br></br>
				
				<apex:dataTable border="1" width="90%" value="{!Account.Services2__r}" var="service" id="ServiceTable">
					<apex:column >
						<apex:facet name="header">Date of Service</apex:facet>
						<apex:outputField value="{!service.Service_Date__c}" />
					</apex:column>
					<apex:column >
						<apex:facet name="header">Mileage</apex:facet>
						<apex:outputField value="{!service.Vehicle_Mileage__c}" />
					</apex:column>
					<apex:column >
						<apex:facet name="header">Location</apex:facet>
						<apex:outputField value="{!service.Servicing_Dealer__r.Name}" />
					</apex:column>	
					<apex:column >
						<apex:facet name="header">Invoice Total</apex:facet>
						<apex:outputField value="{!service.Invoice_Total__c}" />
					</apex:column>
					<apex:column >
						<apex:facet name="header">Vehicle</apex:facet>
						<apex:outputField value="{!service.Asset__r.Vehicle_Model__r.Name}" />
					</apex:column>										
				</apex:dataTable>
			</td></tr>
		</table>
		
		</td>
	</tr>
</table>

<p>&nbsp;</p>
		</apex:tab>
    </apex:tabPanel>
</body>

</html>

</apex:page>