<apex:page controller="SPVFC_AdminTools" action="{!Init}" sidebar="true" >

<apex:form > 

	<apex:pageMessages ></apex:pageMessages>

	<apex:pageBlock title="Administrator Data Integrity Tools" id="theBlock" >
		<apex:pageBlockButtons location="top" >
   			<apex:commandButton value="Cancel" action="{!ActionCancel}" />
		</apex:pageBlockButtons>
	</apex:pageBlock>
 
 <!-- 	Part 1 - Account -->

	<apex:pageBlock title="Account" id="theAccountBlock" >

		<apex:pageBlockSection title="Reset" collapsible="false" rendered="{!NOT(mp_bAccountBatchFlagClear)}" >
			<apex:outputText value="Some Account records have the Batch Processed flag set - please run the batch job to clear it" />
			<apex:commandButton value="Clear Account Processed Flag" action="{!startClearAccountFlagBatch}" />
		</apex:pageBlockSection>

		<apex:pageBlockSection title="Delete AFVs" collapsible="false" >
			<apex:outputText value="This tool will delete all Address For Validation records" />
   			<apex:commandButton value="Delete AFVs" action="{!startDeleteAllAFVBatch}" /> 
		</apex:pageBlockSection>

<!-- 
		<apex:pageBlockSection title="Clean Addresses" collapsible="false" >
			<apex:outputText value="This tool will clean all Owner and Prospect addresses through QAS" />
   			<apex:commandButton value="Clean Addresses" action="{!startAccountAddressCleanBatch}" /> 
		</apex:pageBlockSection>
-->

		<apex:pageBlockSection title="Selected Dealer" collapsible="false" >
			<apex:outputText value="This tool will check that the Selected Dealer record has been correctly populated" />
			<apex:commandButton value="Selected Dealer Integrity Check" action="{!startDealerIntegrity3Batch}" disabled="{!NOT(mp_bAccountBatchFlagClear)}" />
		</apex:pageBlockSection>

		<apex:pageBlockSection title="Original Selling Dealer" collapsible="false" >
			<apex:outputText value="This tool will check that the Original Selling Dealer record has been correctly populated" />
			<apex:commandButton value="Original Selling Dealer Integrity Check" action="{!startDealerIntegrity2Batch}" disabled="{!NOT(mp_bAccountBatchFlagClear)}" />
		</apex:pageBlockSection>

		<apex:pageBlockSection title="Last Selling Dealer" collapsible="false" >
			<apex:outputText value="This tool will check that the Last Selling Dealer record has been correctly populated" />
			<apex:commandButton value="Last Selling Dealer Integrity Check" action="{!startDealerIntegrityBatch}" disabled="{!NOT(mp_bAccountBatchFlagClear)}" />
		</apex:pageBlockSection>

		<apex:pageBlockSection title="Models Owned" collapsible="false" >
			<apex:outputText value="This tool will update the field Models Owned for all Owners" />
   			<apex:commandButton value="Models Owned" action="{!startModelsOwnedBatch}" /> 
		</apex:pageBlockSection>

		<apex:pageBlockSection title="Lifetime Service Value" collapsible="false" >
			<apex:outputText value="This tool will calculate the Lifetime Service Value for all Owners" />
   			<apex:commandButton value="Historical Service Data" action="{!startHistoricalServiceDataBatch}" disabled="true" /> 
		</apex:pageBlockSection>

	</apex:pageBlock>


 <!-- 	Part 2 - Services -->

	<apex:pageBlock title="Service" id="theServiceBlock" >

		<apex:pageBlockSection title="DSR Integration" collapsible="false" >
			<apex:outputText value="Manually start the DSR integration process" />
			<apex:commandButton value="DSR Integration" action="{!startServiceIntegrationBatch}" />
		</apex:pageBlockSection>

	</apex:pageBlock>


 <!-- 	Part 3 - Asset -->

	<apex:pageBlock title="Asset" id="theAssetBlock" >

		<apex:pageBlockSection title="Serviced in Year" collapsible="false" >
			<apex:outputText value="This tool will update the field Serviced In Year for all Assets" />
			<apex:commandButton value="Update Serviced In Year" action="{!startServicedYearBatch}" />
		</apex:pageBlockSection>

	</apex:pageBlock>


 <!-- 	Part 4 - Other Tools -->

	<apex:pageBlock title="Other Tools" id="theOtherToolsBlock" >

		<apex:pageBlockSection title="Data Integrity Checker" collapsible="false" >
   			<apex:commandButton value="Data Integrity Checker" action="{!gotoDataIntegrityChecker}" /> 
		</apex:pageBlockSection>

		<apex:pageBlockSection title="De-duplication tool" collapsible="false" >
   			<apex:commandButton value="De-duplication tool" action="{!gotoDeDupTool}" /> 
		</apex:pageBlockSection>

		<apex:pageBlockSection title="Top Ten Statistics" collapsible="false" >
   			<apex:commandButton value="Top Ten Statistics" action="{!gotoTopTen}" /> 
		</apex:pageBlockSection>

	</apex:pageBlock>

</apex:form>

</apex:page>